<!DOCTYPE html>
<html>
  <head>
    <title>达人招募</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="javascripts/jquery-1.10.1.min.js" charset="utf-8"></script>
    <script src="javascripts/main.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <img src="images/index_bg.jpg" alt="首页背景图" class="index-bg"/>
      <img src="images/next.gif" alt="" class="next-btn"/>
      <img src="images/subway.gif" alt="" class="subway-btn"/>
      <img src="images/daren_wang.jpg" alt="" class="daren-wang-btn"/>
      <img src="images/daren_tang.jpg" alt="" class="daren-tang-btn"/>
      <img src="images/daren_pang.jpg" alt="" class="daren-pang-btn"/>
      <img src="images/daren_ku.jpg" alt="" class="daren-ku-btn"/>
      <img src="images/sign.jpg" alt="" class="sign-btn"/>
    </div>
    <div class="mengban">
      <img src="images/intro_wang.jpg" alt="" class="daren-intro intro-wang"/>
      <img src="images/intro_tang.jpg" alt="" class="daren-intro intro-tang"/>
      <img src="images/intro_pang.jpg" alt="" class="daren-intro intro-pang"/>
      <img src="images/intro_ku.jpg" alt="" class="daren-intro intro-ku"/>
    </div>
    <%include include_share.ejs%>
  </body>
</html>
