<!DOCTYPE html>
<html>
  <head>
    <title>达人招募</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel='stylesheet' href='stylesheets/next.css' />
    <script src="javascripts/jquery-1.10.1.min.js" charset="utf-8"></script>
    <script src="javascripts/main.js" charset="utf-8"></script>
    <%include include_count.ejs%>
  </head>
  <body>
    <div class="container">
      <img src="images/next_bg.jpg" alt="首页背景图" class="next-bg"/>
      <img src="images/brazil.jpg" alt="" class="img-intro-btn intro-brazil-btn" />
      <img src="images/intro_japan.jpg" alt="" class="img-intro-japan"/>
      <img src="images/japan.jpg" alt="" class="img-intro-btn intro-japan-btn"/>
      <img src="images/intro_balidao.jpg" alt="" class="img-intro-balidao"/>
      <img src="images/balidao.jpg" alt="" class="img-intro-btn intro-balidao-btn"/>

      <video controls="controls" poster="images/Brazil.png" preload="none" class="vedio-play" id="brazil-play" src="http://video.lalocal.cn/yunying/mp4/liyue_min.mp4" type="video/mp4"></video>
      <video controls="controls" poster="images/japan.png" preload="none" class="vedio-play" id="japan-play" src="http://video.lalocal.cn/yunying/mp4/tokyo_min.mp4" type="video/mp4"></video>
      <video controls="controls"poster="images/balidao.jpg"  preload="none" class="vedio-play" id="balidao-play" src="http://video.lalocal.cn/yunying/mp4/bali_min.mp4" type="video/mp4"></video>
      <img src="images/img_intro.jpg" alt="" class="img-intro"/>
      <img src="images/return_index.jpg" alt="" class="return-index-btn"/>
    </div>
    <%include include_share.ejs%>
  </body>
</html>
