<!DOCTYPE html>
<html>
  <head>
    <title>达人招募</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel='stylesheet' href='stylesheets/next.css' />
    <script src="javascripts/jquery-1.10.1.min.js" charset="utf-8"></script>
    <script src="javascripts/main.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <img src="images/next_bg.jpg" alt="首页背景图" class="next-bg"/>
      <video controls="controls" poster="images/Brazil.png" class="vedio-play" src="http://www.runoob.com/try/demo_source/mov_bbb.mp4" type="video/mp4"></video>
      <img src="images/intro_japan.jpg" alt="" class="img-intro-japan"/>
      <video controls="controls" poster="images/japan.png" class="vedio-play" src="http://www.runoob.com/try/demo_source/mov_bbb.mp4" type="video/mp4"></video>
      <img src="images/intro_balidao.jpg" alt="" class="img-intro-balidao"/>
      <video controls="controls"poster="images/balidao.jpg"  class="vedio-play" src="http://www.runoob.com/try/demo_source/mov_bbb.mp4" type="video/mp4"></video>
      <img src="images/img_intro.jpg" alt="" class="img-intro"/>
      <img src="images/return_index.jpg" alt="" class="return-index-btn"/>
    </div>
    <%include include_share.ejs%>
  </body>
</html>
