<!DOCTYPE html>
<html>
  <head>
    <title>达人招募</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel='stylesheet' href='stylesheets/subway.css' />
    <script src="javascripts/jquery-1.10.1.min.js" charset="utf-8"></script>
    <script src="javascripts/main.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <img src="images/subway_bg.jpg" alt="地铁广告页背景图" class="subway-bg"/>
      <img src="images/returnIndex.jpg" alt="" class="return-index-btn"/>
    </div>
    <%include include_share.ejs%>
  </body>
</html>
